.kep-login-facebook {
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  border-width: calc(0.0688705234vw + 0.6776859504px);
  border-style: solid;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: calc(0.2754820937vw + 12.7107438017px);
  text-decoration: none;
  text-transform: uppercase;
  transition:
    background-color 0.3s,
    border-color 0.3s;
  background-color: #4c69ba;
  border-color: #4c69ba;
  padding: calc(0.3443526171vw + 13.3884297521px)
    calc(0.3443526171vw + 18.3884297521px);
}
.kep-login-facebook.small {
  padding: calc(0.3443526171vw + 3.3884297521px)
    calc(0.3443526171vw + 8.3884297521px);
}
.kep-login-facebook.medium {
  padding: calc(0.3443526171vw + 8.3884297521px)
    calc(0.3443526171vw + 13.3884297521px);
}
.kep-login-facebook.metro {
  border-radius: 0;
}
.kep-login-facebook .fa {
  margin-right: calc(0.3443526171vw + 3.3884297521px);
}
